<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="With Food Studio you can find the best restaurant near you.">
  <meta name="theme-color" content="#444444"/>
  <title>Food Studio</title>
  <link rel="manifest" href="/manifest.json">
  <link rel="icon" href="favicon.png">
  <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
</head>
<body>
  <!-- Skip to Content -->
  <a class="skip-to-content" href="#main">Skip to Main Content</a>

  <header>
    <!-- Navigation -->
    <nav id="nav-menu">
      <div class="nav-brand" aria-hidden="true"><span>Food Studio</span></div>
      <button type="button" id="hamburger" href="#" aria-label="Open Navigation">☰</button>
      <ul class="nav-container">
        <li class="nav-item"><a class="nav-link" href="#/home">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="#/favorite">Favorite</a></li>
        <li class="nav-item"><a class="nav-link" href="https://www.linkedin.com/in/kurnia-wanto-37519877/" target="_blank" rel="noreferrer">About Us</a></li>
      </ul>
    </nav>

    <!-- Jumbotron -->
    <div class="jumbotron">
      <picture>
        <source type="image/webp" media="(max-width: 600px)" srcset="./images/hero-image-small.webp">
        <source type="image/jpg" media="(max-width: 600px)" srcset="./images/hero-image-small.jpg">
        <source type="image/webp" srcset="./images/hero-image-large.webp">
        <img src="./images/hero-image-large.jpg" alt="banner food studio" width="612" height="500">
      </picture>
      <div class="jumbotron-text">
        <b>Food Studio</b>
        <p>Find your favorite restaurants.</p>
      </div>
    </div>
  </header>

  <main id="main">

  </main>

  <footer>
    <a href="#main" class="end-of-page">End of Page, go back to main content</a>
    <p>Copyright &#169; 2020 - Food Studio</p>
  </footer>
</body>
</html>
