* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e4e4e4;
    color: #424242;
}

/* Skip to Main Content */
.skip-to-content {
    position: absolute;
    font-size: 14px;
    top: -40px;
    left: 0;
    background-color: #444444;
    color: white;
    padding: 8px;
    z-index: 100;
 }

 .skip-to-content:focus {
     top: 0;
 }

/* Navigation */
nav {
    display: grid;
    grid-template-columns: 4fr 1fr;
    color: #e4e4e4;
    background-color: #444444;
}

.nav-brand {
    display: flex;
    align-items: center;
    font-size: 20px;
    min-width: 44px;
    min-height: 44px;
    padding: 30px 0 30px 30px;
}

button#hamburger {
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    min-width: 44px;
    min-height: 44px;
    background-color: #444444;
    color: #e4e4e4;
    border: none;
    padding: 30px 10px;
}

ul.nav-container {
    position: fixed;
    width: 250px;
    height: 100%;
    transform: translate(-250px, 0);
    transition: transform 0.3s ease-in-out;
    background-color:#666666;
    list-style-type: none;
    z-index: 100;
    visibility: hidden;
}

ul.nav-container.open {
    transform: translate(0, 0);
    visibility: visible;
}

.nav-item{
    margin: 40px 20px;
}

.nav-item a {
    text-decoration: none;
    font-size: 18px;
    color: #e4e4e4;
    min-width: 44px !important;
    min-height: 44px !important;
    padding: 20px 20px;
}

/* navigation Layar Besar */
@media screen and (min-width: 870px) {
    nav {
        grid-template-columns: 1fr 1fr;
    }
    .nav-brand {
        align-items: flex-start;
    }
    button#hamburger {
        display: none;
    }
    ul.nav-container {
        position: relative;
        display: flex;
        justify-content: flex-end;
        width: 100%;
        height: 100%;
        transform: none;
        transition: none;
        background-color: inherit;
        list-style-type: none;
        z-index: 0;
        visibility: visible;
    }
    .nav-item {
        margin: 0 20px 0 0;
        display: flex;
        align-items: center;
    }
}

/* Jumbotron */
.jumbotron {
    position: relative;
    width: 100%;
    color: white;
    text-align: center;
}

.jumbotron img {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
}

.jumbotron-text {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    padding: 20px 0;
    background-color: rgba(25, 25, 25, 0.9);
}

.jumbotron b {
    font-size: 24px;
}

.jumbotron p {
    font-size: 14px;
}

/* Jumbotron Layar Sedang */
@media screen and (min-width: 640px) {
    .jumbotron img {
        max-height: 400px;
    }
    .jumbotron b {
        font-size: 32px;
    }
    .jumbotron p {
        font-size: 18px;
    }
}

/* Jumbotron Layar Besar */
@media screen and (min-width: 870px) {
    .jumbotron img {
        max-height: 500px;
    }
    .jumbotron b {
        font-size: 40px;
    }
    .jumbotron p {
        font-size: 24px;
    }
}

/* Main */
main {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 40px;
}

main h1 {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 20px;
}

main a.end-of-page:focus {
    bottom: 0;
}

/* Restaurant */
.restaurant-container {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 20px;
}

/* Restaurant Layar Sedang */
@media screen and (min-width: 640px) {
    .restaurant-container {
        grid-template-columns: 1fr 1fr;
        column-gap: 20px;
    }
}

/* Restaurant Layar Besar */
@media screen and (min-width: 870px) {
    .restaurant-container {
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 20px;
    }
}

/* Detail */
.detail-container {
    display: grid;
    gap: 15px;
}

/* Footer */
footer {
    width: 100%;
    font-size: 18px;
    text-align: center;
    padding: 40px 0;
    color: #e4e4e4;
    background-color: #4f4f4f;
}

footer a.end-of-page {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap; /* added line */
    border: 0;
}

.loader-container {
    text-align: center;
    margin-bottom: 300px;
}

.back-button {
    display: flex;
    justify-content: center;
}

.back-button a {
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid #444444;
    color: #444444;
    padding: 12px 20px;
    margin-top: 30px;
}

.back-button a:hover {
    background-color: #5f5f5f;
    color: ivory;
    box-shadow: 0 0 10px #5f5f5f;
    border: 1px solid #5f5f5f;
}

/* Loader Layar Sedang */
@media screen and (min-width: 640px) {
    .loader-container {
        grid-column-start: 1;
        grid-column-end: 3;
    }
}

/* Loader Layar Besar */
@media screen and (min-width: 870px) {
    .loader-container {
        grid-column-start: 1;
        grid-column-end: 4;
    }
}
